.container {
    overflow-y: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  
  .container::-webkit-scrollbar {
    display: none; 
  }

input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
 }
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 80px;
    height: 30px;
    background: rgba(59, 59, 59, 0.623);
    display: block;
    border-radius: 15px;
    position: relative;
 }
  label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 8px;
    width: 27px;
    height: 30px;
    background-image: url('./icons/spain.svg');
    /* border-radius: 90px; */
    transition: 0.3s;
 }
  input:checked + label:after {
    left: calc(100% - 8px);
    transform: translateX(-100%);
    background-image: url('./icons/united-states.svg');
 }
  label:active:after {
    width: 30px;
 }
  