---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import LinkedinIcon from '../components/icons/Linkedin.astro';
import MailIcon from '../components/icons/Mail.astro';
import SocialPill from '../components/SocialPill.astro';
---

<Layout 
	title="Portfolio de Brian Rico - Desarrollador y Programador web actualmente como Freelance"
	descripcion='Contrata a Brian para crear tu aplicacion web. Desarrollador Web especializado en crear software sostenible, escalable con una increible experiencia de usuario.'>
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<img 
				class="size-24 rounded-full mb-4"
				src="/My_Photo.webp" 
				alt="brian photo"
			>
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
				¡Hola!, soy <span class="text-blue-500">Brian Rico</span> 
				<a
				 href="https://www.linkedin.com/in/brian-rico-51396426a/"
				 target="_blank"
				 rel="noopener noreferrer" 
				 class="flex justify-center items-center">
					<Badge>Listo para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-2xl text-wrap cursor-default">
				<span class="text-green-200/90">Freelance</span>
				<span class="text-blue-200/90"> Desarrollador FullStack y UI Design. ✨</span>
				<span class="opacity-75">De Chinandega, </span> <span class="text-blue-800/80 font-semibold">Nicaragua. </span> 
				<span class="opacity-75">Me especializo en crear Webs y aplicaciones Unicas, faciles de mantener y de escalar.</span>
			</h2>

			<nav class="flex gap-x-4 mt-8 absolute">
				<SocialPill href="https://www.linkedin.com/in/brian-rico-51396426a/">
					<LinkedinIcon class="size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/Bricret">
					<GitHubIcon class="size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="https://github.com/Bricret">
					<MailIcon class="size-6" />
					brian.rico378@gmail.com
				</SocialPill>
			</nav>
		</section>
	</main>
</Layout>
