<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="refresh" content="0; url=/es">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>Portfolio de Brian Rico - Desarrollador y Programador web actualmente como Freelance</title>
</head>