---
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Layout from '../layouts/Layout.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import LinkedinIcon from '../components/icons/Linkedin.astro';
import MailIcon from '../components/icons/Mail.astro';
import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/Experience.astro';
import BriefCase from '../components/icons/BriefCase.astro';
import CodeIcon from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
---

<Layout 
	title="Portfolio de Brian Rico - Desarrollador y Programador web actualmente como Freelance"
	descripcion='Contrata a Brian para crear tu aplicacion web. Desarrollador Web especializado en crear software sostenible, escalable con una increible experiencia de usuario.'>
	<main class="px-4">
		<SectionContainer class="py-32 pb-64">
			<img 
				class="size-24 rounded-full mb-4"
				src="/My_Photo.webp" 
				alt="brian photo"
			>
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				¡Hola!, soy <span class="text-sky-500">Brian Rico</span> 
				<a
				 href="https://www.linkedin.com/in/brian-rico-51396426a/"
				 target="_blank"
				 rel="noopener noreferrer" 
				 class="flex justify-center items-center">
					<Badge>Listo para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px] cursor-default">
				<span class="text-green-200">Freelance.</span>
				<span class="text-sky-200"> Desarrollador FullStack y Diseñador de Interfaz de Usuario (UI). ✨</span>
				<span class="opacity-75">De Chinandega, </span> <span class="text-blue-800/80 font-semibold">Nicaragua. </span> 
				<span class="opacity-75"> Me especializo en crear sitios web y aplicaciones únicas, fáciles de mantener y escalar.</span>
			</h2>

			<nav class="flex gap-4 mt-8 absolute flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/brian-rico-51396426a/">
					<LinkedinIcon class="size-4 lg:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/Bricret">
					<GitHubIcon class="size-4 lg:size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto:brian.rico378@gmail.com">
					<MailIcon class="size-4 lg:size-6" />
					brian.rico378@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-2xl font-semibold mb-8 flex gap-x-4 items-center">
				<BriefCase class="size-8" />
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-2xl font-semibold mb-8 flex gap-x-4 items-center">
				<CodeIcon class="size-8" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>
