---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';;
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4 ">
				¡Hola!, soy <span class="text-blue-500">Brian Rico</span> 
				<div class="flex justify-center items-center"><Badge>Listo para trabajar</Badge></div>
			</h1>
			<h2 class="text-xl opacity-80">Freelance. Desarrollador FullStack y UI Design ✨. De Chinandega, <span class="text-blue-900 font-semibold text-lg">Nicaragua. </span> Me especializo en crear Webs y aplicaciones Unicas, faciles de mantener y de escalar.</h2>
		</section>
	</main>
</Layout>
