

<header class="flex justify-center items-center py-5 w-full  xl:w-[1120px] mx-auto sticky top-0 z-50">
    <nav class="flex flx-row gap-x-3 md:gap-x-10 py-1.5 px-3 md:px-6 text-base bg-black/70 rounded-full backdrop-blur-sm">
        <a href="#experiencia" class="hover:scale-110 hover:bg-white/10 transition rounded-lg px-1.5">Experiencia</a>
        <a href="#proyectos" class="hover:scale-110 hover:bg-white/10 transition rounded-lg px-1.5">Proyectos</a>
        <a href="#tecnologias" class="hover:scale-110 hover:bg-white/10 transition rounded-lg px-1.5">Tecnologias</a>
        <a href="#gracias" class="hover:scale-110 hover:bg-white/10 transition rounded-lg px-1.5 hidden md:flex">Gracias</a>
    </nav>
</header>