<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto sticky top-0 ">
    <nav class="flex flx-row gap-x-10 py-1 px-6 text-base bg-black/70 rounded-full ">
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#sobre-mi">Sobre mi</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>