<header class="flex justify-center items-center py-5 w-[1120px] mx-auto">
    <nav class="flex flx-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#sobre-mi">Sobre mi</a>
        <a href="#contacto">Contactame</a>
    </nav>
</header>