---
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";

interface Props {
	title: string;
	descripcion: string;
}

const { descripcion, title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={descripcion} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="relative h-full w-full bg-[#050505]">
			<div
				class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
			>
		</div>
		<Header />
		<slot />
	</div>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
	}
	body {
		background-color: #050505;
		display: flex;
		flex-direction: column;
		height: 100vh;
	}
</style>
